.container {
	width: 750px;
}

.starter-template {
padding: 40px 15px;
text-align: center;
}

h1, .h1 {
font-size: 36px;
}

.lead {
margin-bottom: 20px;
font-size: 16px;
font-weight: 200;
line-height: 1.4;
}
